.contact {
    display: block;
    padding: 2rem;
    border-radius: 5px;
    height: 59vh;
    width: 300px;
    background-color: #44645C;
    margin: 0 auto;
    margin-top: 1vh;
    margin-bottom: 4vh;
}
.formWrapper {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.formArea {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.emailArea {
    margin: 0;
    padding: 0;
}
.emailInputArea {
    margin: 0;
    padding: 0;
    height: 6%;
    width: 95%;
    margin-bottom: 2vh;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    padding-top: 10px;
}
.formTextArea {
    margin: 0;
    padding: 0;
    height: 80%;
    width: 95%;
    margin-bottom: 2vh;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    padding-top: 10px;
}
.submitBtn {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(49, 131, 255);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    width: 33%;
    height: 5%;
    transition: background-color 0.5s;
    transition: color 0.5s;
}
.submitBtn:hover {
    background-color: white;
    color: rgb(49, 131, 255);
}

/* tablet */
@media (min-width: 750px) {
    .contact {
        width: 600px;
    }
}
/* desktop */
@media (min-width: 1200px) {
    .contact {
        width: 800px;
    }
}