.gallery {
    margin: 0 auto;
    text-align: center;
}

.pics {
    overflow: hidden;
    object-fit: cover;
    width: 325px;
    height: 200px;
    margin: 1vh;
}
.pics:hover {
    box-sizing: border-box;
    cursor: zoom-in;
    border: 2px solid rgba(36, 189, 209, 0.5);
}

/* fonction zoom */
.enlargePic {
    position: fixed;
    overflow: auto;
    object-fit: contain;
    z-index: 11;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.blackBg {
    position: fixed;
    background-color: black;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 700px;
}
.closeBtn {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    filter: invert(99%) sepia(3%) saturate(909%) hue-rotate(196deg) brightness(116%) contrast(87%);
}

/* Filtre dropdown menu */
.dropdownContainer {
    height: fit-content;
    width: fit-content;
    text-align: center;
    margin-left: 65vw;
}
.dropdownToggle {
    font-size: 24px;
    width: 100px;
    border: none;
    border-radius: 35px;
    background-color: white;
    margin-bottom: 1vh;
}
.dropdownToggle:hover {
    box-sizing: border-box;
    cursor: pointer;
    /*border: 2px solid rgba(36, 189, 209, 0.5);*/
    background-color: rgba(36, 189, 209, 0.5);
}
.dropdownList {
    margin-right: 1vw;
    list-style: none;
    margin: 0;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 50px;
    display: none;
    background-color: white;
}
/*.dropdownListItem {

}*/
.showDropdown {
    display: block;
    position: absolute;
}
.categoryToggleBtn {
    border: none;
    background-color: inherit;
    width: 100%;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.categoryToggleBtn:hover {
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid rgba(36, 189, 209, 0.5);
}
.showActiveFilter {
    background-color: rgba(148, 146, 146, 0.5);
    border-radius: 30px;
    width: 150px;
}

/*arrangement galerie*/
/* tablet */
@media (min-width: 800px) {
    .dropdownContainer {
        margin-left: 80vw;
    }

    .photo0, .photo4, .photo8{
        margin-left: 4vw;
    }

    .photo2, .photo6, .photo10 {
        margin-left: 14vw;
    }
}

/* desktop */
@media (min-width: 1200px) {
    .photo0, .photo4, .photo8, .photo2, .photo6, .photo10 {
        margin-left: 1vh;
    }

    .photo0, .photo6 {
        margin-left: 4vw;
    }

    .photo3, .photo9 {
        margin-left: 14vw;
    }
}

/* very large screen */
@media (min-width: 1600px) {
    .gallery {
        min-width: 1650px;
        max-width: 1800px;
    }
    .photo0, .photo4, .photo8, .photo2, .photo6, .photo10, .photo0, .photo6, .photo3, .photo9 {
        margin-left: 1vh;
    }

    .photo0, .photo8 {
        margin-left: 5%;
    }

    .photo4 {
        margin-left: 15%;
    }
}

/* very very large screen */
@media (min-width: 2000px) {
    .dropdownContainer {
        margin: 0 auto;
        width: 2000px;
    }
    .dropdownToggle {
        position: relative;
        left: 35%;
    }
}