.footerStyles {
    justify-content: center;
    display: flex;
    background-color: #47555E;
    overflow: hidden;
}

.copyrightsText {
    align-self: center;
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
}

/* tablet & desktop */
@media (min-width: 700px) {
    
}