.logoWrapper {
    height: 100%;
    width: 40%;
    margin: 0;
    padding: 0;

}
.logoImg {
    position: relative;
    top: -5vh;
    object-fit: cover;
    overflow: hidden;
    height: 20vh;
    width: auto;
}