/* Hamburger / close BTN */
.hamburgerBtn {
    background-color: #47555E;
    border: none;
    position: absolute;
    top: 1vh;
    right: 1vw;
    width: 20vw;
    height: 9vh;
}

.hamburgerImg {
    filter: invert(99%) sepia(3%) saturate(909%) hue-rotate(196deg) brightness(116%) contrast(87%);
    width: 100%;
    height: 100%;
}


/*.navList {
}*/

/* navlist dropdown */
.menuNav {
    list-style: none;
    position: absolute;
    background: #9CA4A4;  
    visibility: hidden;
    top: 10vh;
    left: 0;
    width: 0%;
    max-width: 100%;
    z-index: 9;
  }

  .menuNav.showMenu {
    margin: 0;
    padding: 0;
    visibility: visible;
    width: 100%;
    height: 90vh;
    text-align: center;
  }

  /* navlist list */
.list {
    /*color: #EEEEEE;*/
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 36px;
    margin-top: 4rem;
    margin-left: auto;
}

/* link anchor */
a { 
    color: #EEEEEE; 
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
}


.active-link {
    color: orangered;
    text-decoration: underline;
}

/* social media icon */
.socialMediaList {
    margin-top: 4rem;
}

.socialMediaImg {
    padding: 3px;
    width: 60px;
    height: 60px;
    filter: invert(99%) sepia(3%) saturate(909%) hue-rotate(196deg) brightness(116%) contrast(87%);
}