html, body, main, section {
    margin: 0;
    padding: 0;
}

.mainStyles {
    background-color: #EEEEEE;
    min-height: 75vh;
}

.sectionTitle {
    font-family: 'Roboto', sans-serif;
    color: #6C60A8;
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}